<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!-- bootstrap css -->
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" crossorigin="anonymous">
    
    <!-- custom css -->
    <link rel="stylesheet" href="styles.css">

    <!--Font Awesome -->
    <link rel="stylesheet" href="fontawesome-free/css/all.css">
        
    <title>Home page (Seller)</title>
</head>
<body onload="hide_loading()">
  <div class="load_div">
    <div class="spinner-border text-info p-4 spin-load" role="status">
      <div class="sr-only">Loading...</div>
    </div>
  </div>
  
  <section class="main-background">
    <section id="header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/seller"><img src="shop.png" alt="" style="width: 40px;"> Store-On-The-Go</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                <i class="fas fa-ellipsis-v nav-toggler-icon"></i>
                <!-- <span class="navbar-toggler-icon"></span> -->
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/seller">My Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/seller/transactions">Transactions</a>
                    </li>
                    <li class="nav-item">
                      <div class="dropdown">
                        <button class="btn dropdown-toggle nav-btn mx-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Profile <i class="fas fa-user-circle"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/seller/profile">My Account</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </section>
    <section id="s-productDetails" class="">
        <form action="/seller/addProduct" method="POST" class="auth-form container-fluid" enctype="multipart/form-data">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-10">
                <h1 class="home-h1">Product details</h1>
                    <label for="name" class="control-label">Name</label>
                    <input type="text" name="name" class="form-control" autocomplete="off" autofocus required>
                    <label for="quantity" class="control-label">Quantity</label>
                    <input type="number" name="quantity" class="form-control" autocomplete="off" required min="1" max="1000" value="1">
                    <label for="price" class="control-label">Price</label>
                    <input type="text" name="price" class="form-control" required>
              </div>
              <img src="addProduct.svg" class="col-md-4 col-sm-8 ml-auto" style="margin-top: 50px;" alt="">
              <h3 class="col-md-8 col-sm-10 ml-auto custom-h3">Describe your product</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <label for="description" class="control-label">Description</label>
                    <textarea class="form-control" name="description" rows="3" required spellcheck="false"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <label for="tags" class="control-label">Tags</label>
                    <textarea class="form-control" name="tags" rows="3" required spellcheck="false" placeholder="give space between each tag. eg: smartphone mobile phone cellphone 2020 5G"></textarea>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-10">
                <label for="image" class="control-label">Upload an image</label>
                <input type="file" name="image" accept=".jpg,.png.,.jpeg" class="form-control choose-file" autocomplete="off" required>
              </div>
              <div class="col-lg-4 col-md-4 ml-auto">
                
                <div class="row">
                  <button type="submit" name="image" value=""  class="btn btn-outline-primary btn-seller col-lg-8 col-md-12 col-sm-10">Add product</button>
                </div>
          </div>
            </div>
          </form>
        
    </section>
    <section id="footer">
        <div class="container-fluid">
          <p>© Copyright <span id="Copyright"></span> Store-On-The-Go</p>
        </div>
    </section>
</section>
    <script src="script.js"></script>
    <script src="dist/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="core/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>