<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!-- bootstrap css -->
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" crossorigin="anonymous">
    
    <!-- custom css -->
    <link rel="stylesheet" href="styles.css">

    <!--Font Awesome -->
    <link rel="stylesheet" href="fontawesome-free/css/all.css">
        
    <title>Signup</title>
</head>
<body onload="hide_loading()">
  <div class="load_div">
    <div class="spinner-border text-info p-4 spin-load" role="status">
      <div class="sr-only">Loading...</div>
    </div>
  </div>
  
  <section class="main-background">
  <section id="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><img src="shop.png" alt="" style="width: 40px;"> Store-On-The-Go</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
            <i class="fas fa-ellipsis-v nav-toggler-icon"></i>
            <!-- <span class="navbar-toggler-icon"></span> -->
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Location</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-btn mx-auto" href="/login">Log in</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
</section>
    <section id="signup">
      <form action="/signup" method="POST" class="auth-form container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-10">
            <h1 class="home-h1">Get started</h1>
                <label for="username" class="control-label">Username</label>
                <input type="text" name="username" class="form-control" autocomplete="off" autofocus required>
                <label for="email" class="control-label">Email</label>
                <input type="email" name="email" class="form-control" autocomplete="off" required>
                <label for="password" class="control-label">Password</label>
                <input type="password" name="password" class="form-control" required>
          </div>
          <img src="signup.svg" class="col-md-4 col-sm-8 ml-auto" style="margin-top: 50px;" alt="">
          <h3 class="col-md-8 col-sm-10 ml-auto custom-h3">few more things<br>and you are all set!</h3>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-10">
            <label for="address" class="control-label">Address</label>
            <textarea class="form-control" name="address" rows="3" required spellcheck="false"></textarea>
        </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-10">
            <label for="name" class="control-label">Name</label>
            <input type="text" name="name" class="form-control" autocomplete="off" required>
            <label for="contact" class="control-label">Contact</label>
            <input type="text" name="contact" class="form-control" autocomplete="off" required>
          </div>
          <div class="col-lg-4 col-md-4 ml-auto">
            <div>
              <label for="city" class="control-label">City</label>
              <input type="text" name="city" class="form-control search-location" autocomplete="off" required>
              <div class="suggestions"></div>
            </div>
            <div class="row">
              <button type="submit" name="person" value="consumer" class="btn btn-outline-primary btn-consumer col-sm-5">I'm a consumer</button>
              <button type="submit" name="person" value="seller"  class="btn btn-outline-primary btn-seller col-sm-5">I'm a seller</button>
            </div>
            
      </div>
        </div>
      </form>
    </section>
    <section id="footer">
        <div class="container-fluid">
          <p>© Copyright <span id="Copyright"></span> Store-On-The-Go</p>
        </div>
    </section>
</section>
    <script src="script.js"></script>
    <script src="citySuggestion.js"></script>
    <script src="dist/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="core/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>